<h1><%= resource.name %></h1>

<div> 
  <%= resource.text %>
</div>

<% if can? :edit, resource %>
  <%= link_to :edit, [:edit, resource] %>
<% end %>

<% if can? :delete, resource %>
  <%= link_to :delete, resource, :method => :delete, :confirm => 'Are you sure?' %><br>
<% end %>


<h2>Comments</h2>

<div class="comments">
  <%= render resource.comments %>
</div>

<%= link_to 'Index', posts_path %>

<% if can? :create, Comment %>
  <p>Leave a comment:</p>

  <%= render 'comments/form', :post => resource, :comment => resource.comments.new %>
<% end %>
