<% if current_user %>
  Hi, <%= current_user.email || current_user.name %><br>

  <%= link_to 'Sign out', :destroy_user_session, :method => :delete %><br>

  <%= link_to 'Settings', current_user %><br>

  <% if current_user.admin? %>
    <%= link_to 'Admin panel', :admin %><br>
  <% end %>

<% else %>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>

<div class="menu">
  <%= link_to 'Posts', posts_path %>

  <%= link_to 'Users', users_path %>
</div>
